doctype 5
html(lang="en")
	head
		title="QUOTE.IT"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
		link(href="/stylesheets/main.css", rel="stylesheet")
		| <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
	body
		block mainContent
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js")
	script(src="/javascripts/client.js")
